<footer>
    <div class="container">
        <div class="l_box">
            <p class="head">Quick Links</p><br>
            <table>
                <tr>
                    <td>
                        <a routerLink="home">About Us</a>
                    </td>
                    <td>
                        <a href="https://www.healthline.com/health/fitness-exercise/best-blogs-of-the-year#1" target="_blank">Blogs</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="https://cdn5.vectorstock.com/i/1000x1000/60/29/error-404-sorry-page-not-found-image-vector-10856029.jpg" target="_blank">Our Team</a>
                    </td>
                    <td>
                        <a href="https://cdn5.vectorstock.com/i/1000x1000/60/29/error-404-sorry-page-not-found-image-vector-10856029.jpg" target="_blank">Programs</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="https://cdn5.vectorstock.com/i/1000x1000/60/29/error-404-sorry-page-not-found-image-vector-10856029.jpg" target="_blank">Careers</a>
                    </td>
                    <td>
                        <a routerLink="gallery">Gym Inside</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="Gallery.html#Awards">Awards</a>
                    </td>
                    <td>
                        <a href="Gallery.html#Equipments">Equipments</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="Home.html#Testimonials">Testimonials</a>
                    </td>
                    <td>
                        <a href="https://cdn5.vectorstock.com/i/1000x1000/60/29/error-404-sorry-page-not-found-image-vector-10856029.jpg" target="_blank">Franchise</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="https://cdn5.vectorstock.com/i/1000x1000/60/29/error-404-sorry-page-not-found-image-vector-10856029.jpg" target="_blank">Culture</a>
                    </td>
                    <td>
                        <a href="https://cdn5.vectorstock.com/i/1000x1000/60/29/error-404-sorry-page-not-found-image-vector-10856029.jpg" target="_blank">Exercises</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="https://cdn5.vectorstock.com/i/1000x1000/60/29/error-404-sorry-page-not-found-image-vector-10856029.jpg" target="_blank">News</a>
                    </td>
                    <td>
                        <a href="https://cdn5.vectorstock.com/i/1000x1000/60/29/error-404-sorry-page-not-found-image-vector-10856029.jpg" target="_blank">Advertisements</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="https://cdn5.vectorstock.com/i/1000x1000/60/29/error-404-sorry-page-not-found-image-vector-10856029.jpg" target="_blank">Events</a>
                    </td>
                    <td>
                        <a href="https://www.researchgate.net/profile/Divya-Leducq/publication/290558299/figure/fig1/AS:539610842189824@1505664658527/Major-cities-with-an-SPTI-in-India.png" target="_blank">Gym Locations</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="https://cdn5.vectorstock.com/i/1000x1000/60/29/error-404-sorry-page-not-found-image-vector-10856029.jpg" target="_blank">Promotions</a>
                    </td>
                    <td>
                        <a href="https://cdn5.vectorstock.com/i/1000x1000/60/29/error-404-sorry-page-not-found-image-vector-10856029.jpg" target="_blank">Offers</a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="l_box">
            <p class="head">News Letter</p><br>
            <p align="center">Sign Up for our mailing list to get updates and offers:</p><br>
            <p align="center"><input type="email" placeholder="Enter Email"><button class="random_button" type="submit"><strong>></strong></button></p>
        </div>
        <div class="l_box">
            <p class="head">Contact</p><br>
            <p class="cont">
                Owner: Vishal Kumar<br><br>
                Employee Id: 6457<br><br>
                Helpline No.: +91 8974563021<br><br>
                Email Id: vk_buff_gym@vkgym.com<br><br>
                Main Office Address:<br>
                    &emsp;&emsp;Same Location<br>
                    &emsp;&emsp;Same City<br>
                    &emsp;&emsp;Random State<br>
                    &emsp;&emsp;India - 101010
            </p>
        </div>
    </div>
</footer>