
<!-- <head>
    <title>Gallery</title>
    <link rel="stylesheet" href="GYM.css">
    <meta charset="UTF-8">
    <meta name="description" content="VK GYM">
    <meta name="keywords" content="HTML, CSS, VK, GYM, FITNESS, EXERCISE">
    <meta name="author" content="Vishal Kumar">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head> -->
<body id="gall_b">
<!--     <nav>
        <div class="logo"><a href="Home.html"><img src="LOGO.png"></a></div>
        <ul>
        <li><a href="Home.html">Home</a></li>
        <li><a href="Gallery.html">Gallery</a></li>
        <li><a href="Gallery.html#Contact">Contact</a></li>
        <li><a href="Registration.html"><span id="join">Join Us</span></a></li>
        </ul>
    </nav> -->
    <header>
        <p>GALLERY</p>
    </header>
    <br>
    <div class="nav_gallery" align="center">
        <a href="Gallery"><button class="button">Gallery</button></a>
        <a href="#Awards"><button class="button">Awards</button></a>
        <a href="#Videos"><button class="button">Videos</button></a>
        <a href="#Equipments"><button class="button">Equipments</button></a>
    </div>
    <br>
    <main>
        <section id="Gallery" class="gall_table">
            <p class="head">Gallery</p>
            <p class="head_desc">How our Gym looks like</p>
            <table cellspacing="15">
                <tr>
                    <td class="gallery">
                        <a target="_blank" href="https://cdn.pixabay.com/photo/2013/03/09/14/38/machines-91849__480.jpg">
                        <img src="https://cdn.pixabay.com/photo/2013/03/09/14/38/machines-91849__480.jpg" alt="gym1">
                        </a>
                        <div class="desc">Inside 1</div>
                    </td>
                    <td class="gallery">
                        <a target="_blank" href="https://cdn.pixabay.com/photo/2016/12/25/22/49/workout-1931107__480.jpg">
                        <img src="https://cdn.pixabay.com/photo/2016/12/25/22/49/workout-1931107__480.jpg" alt="gym2">
                        </a>
                        <div class="desc">Inside 2</div>
                    </td>
                    <td class="gallery">
                        <a target="_blank" href="https://cdn.pixabay.com/photo/2015/10/01/13/03/sport-966991__480.jpg">
                        <img src="https://cdn.pixabay.com/photo/2015/10/01/13/03/sport-966991__480.jpg" alt="gym3">
                        </a>
                        <div class="desc">Inside 3</div>
                    </td>
                </tr>
                <tr>
                    <td class="gallery">
                        <a target="_blank" href="https://cdn.pixabay.com/photo/2015/01/10/18/45/gym-595597__480.jpg">
                        <img src="https://cdn.pixabay.com/photo/2015/01/10/18/45/gym-595597__480.jpg" alt="gym4">
                        </a>
                        <div class="desc">Inside 4</div>
                    </td>
                    <td class="gallery">
                        <a target="_blank" href="https://cdn.pixabay.com/photo/2017/08/02/16/06/people-2572265__480.jpg">
                        <img src="https://cdn.pixabay.com/photo/2017/08/02/16/06/people-2572265__480.jpg" alt="gym5">
                        </a>
                        <div class="desc">Inside 5</div>
                    </td>
                    <td class="gallery">
                        <a target="_blank" href="https://cdn.pixabay.com/photo/2013/02/26/02/14/exercise-86200__480.jpg">
                        <img src="https://cdn.pixabay.com/photo/2013/02/26/02/14/exercise-86200__480.jpg" alt="gym6">
                        </a>
                        <div class="desc">Inside 6</div>
                    </td>
                </tr>
                <tr>
                    <td class="gallery">
                        <a target="_blank" href="https://cdn.pixabay.com/photo/2017/02/09/16/21/kettlebell-2052765__480.jpg">
                        <img src="https://cdn.pixabay.com/photo/2017/02/09/16/21/kettlebell-2052765__480.jpg" alt="gym7">
                        </a>
                        <div class="desc">Inside 7</div>
                    </td>
                    <td class="gallery">
                        <a target="_blank" href="https://cdn.pixabay.com/photo/2014/02/10/20/25/yoga-263673__340.jpg">
                        <img src="https://cdn.pixabay.com/photo/2014/02/10/20/25/yoga-263673__340.jpg" alt="gym8">
                        </a>
                        <div class="desc">Inside 8</div>
                    </td>
                    <td class="gallery">
                        <a target="_blank" href="https://cdn.pixabay.com/photo/2013/04/14/22/43/oak-ridge-104060__480.jpg">
                        <img src="https://cdn.pixabay.com/photo/2013/04/14/22/43/oak-ridge-104060__480.jpg" alt="gym9">
                        </a>
                        <div class="desc">Inside 9</div>
                    </td>
                </tr>
                <tr>
                    <td class="gallery">
                        <a target="_blank" href="https://cdn.pixabay.com/photo/2016/08/01/19/08/kickboxer-1561793__480.jpg">
                        <img src="https://cdn.pixabay.com/photo/2016/08/01/19/08/kickboxer-1561793__480.jpg" alt="gym10">
                        </a>
                        <div class="desc">Inside 10</div>
                    </td>
                    <td class="gallery">
                        <a target="_blank" href="hhttps://cdn.pixabay.com/photo/2014/11/11/15/24/gym-526996__480.jpg">
                        <img src="https://cdn.pixabay.com/photo/2014/11/11/15/24/gym-526996__480.jpg" alt="gym11">
                        </a>
                        <div class="desc">Inside 11</div>
                    </td>
                    <td class="gallery">
                        <a target="_blank" href="https://cdn.pixabay.com/photo/2013/02/10/23/25/great-lakes-80383__480.jpg">
                        <img src="https://cdn.pixabay.com/photo/2013/02/10/23/25/great-lakes-80383__480.jpg" alt="gym12">
                        </a>
                        <div class="desc">Inside 12</div>
                    </td>
                </tr>
            </table>
        </section>
        <br><hr><br>
        <section id="Awards" class="responsive">
            <p class="head">Awards</p>
            <p class="head_desc">When we claim of being the best we are not boasting, here's the proof! </p>
            <table cellspacing="15">
                <tr>
                    <th class="head_desc2" colspan="2">Awards and Certificates won by our Gym</th>
                    <td class="gallery">
                        <a target="_blank" href="http://www.diploma-degree.com/Degree/700-29239-Best-Gym-Award.jpg">
                        <img src="http://www.diploma-degree.com/Degree/700-29239-Best-Gym-Award.jpg" alt="cert1">
                        </a>
                        <div class="desc">Certificate 1</div>
                    </td>
                    <td class="gallery">
                        <a target="_blank" href="https://m.media-amazon.com/images/I/61xtpbgYCLL._AC_SX425_.jpg">
                        <img src="https://m.media-amazon.com/images/I/61xtpbgYCLL._AC_SX425_.jpg" alt="award1">
                        </a>
                        <div class="desc">Award 1</div>
                    </td>
                    <td class="gallery">
                        <a target="_blank" href="https://www.adgully.com/img/800/201805/fea.jpg">
                        <img src="https://www.adgully.com/img/800/201805/fea.jpg" alt="award2">
                        </a>
                        <div class="desc">Award 2</div>
                    </td>
                </tr>
                <tr>
                    <th class="head_desc2" colspan="2">Competitive Body Building champions that trained in our Gym</th>
                    <td class="gallery">
                        <a target="_blank" href="https://generationiron.com/wp-content/uploads/2018/11/BMA_W.jpg">
                        <img src="https://generationiron.com/wp-content/uploads/2018/11/BMA_W.jpg" alt="winner1">
                        </a>
                        <div class="desc">Winner 1</div>
                    </td>
                    <td class="gallery">
                        <a target="_blank" href="https://generationiron.com/wp-content/uploads/2017/11/W-Best-Arms-1.jpg">
                        <img src="https://generationiron.com/wp-content/uploads/2017/11/W-Best-Arms-1.jpg" alt="winner2">
                        </a>
                        <div class="desc">Winner 2</div>
                    </td>
                    <td class="gallery">
                        <a target="_blank" href="https://i.ytimg.com/vi/5kOGxeLTBe0/maxresdefault.jpg">
                        <img src="https://i.ytimg.com/vi/5kOGxeLTBe0/maxresdefault.jpg" alt="winner3">
                        </a>
                        <div class="desc">Winner 3</div>
                    </td>
                </tr>
            </table>
        </section>
        <br><hr><br>
        <section id="Videos">
            <p class="head">Our Videos</p>
            <p class="head_desc">Some videos that we made to help you in your fitness journey</p>
            <table cellspacing="15">
                <tr>
                    <td class="gallery">
                        <iframe src="https://www.youtube.com/embed/X_9VoqR5ojM" title="YouTube video player 1" 
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                        allowfullscreen></iframe>
                    </td>
                    <td class="gallery">
                        <iframe src="https://www.youtube.com/embed/pMeFtmjRvE4" title="YouTube video player 2" 
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                        allowfullscreen></iframe>
                    </td>
                    <td class="gallery">                        
                        <iframe src="https://www.youtube.com/embed/fvFQU6NvJo8" title="YouTube video player 3" 
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                        allowfullscreen></iframe>
                        <!--
                        <video width="600" height="500" controls>
                            <source src="https://youtu.be/fvFQU6NvJo8" type="video/mp4">
                        </video>
                        -->
                    </td>
                </tr>
            </table>
        </section>
        <hr><br>
        <section id="Equipments">
            <p class="head">Equipments</p>
            <p class="head_desc">We provide all the major equipments that should be present in a Gym with abundant quantity to handle a crowd of workout freaks</p>
            <table cellspacing="15">
                <tr>
                    <td class="gallery">
                        <a target="_blank" href="https://m.media-amazon.com/images/I/71Nc+DY7xnS._AC_SL1500_.jpg">
                        <img src="https://m.media-amazon.com/images/I/71Nc+DY7xnS._AC_SL1500_.jpg" alt="equip1">
                        </a>
                        <div class="desc">Bench Press</div>
                    </td>
                    <td class="gallery">
                        <a target="_blank" href="https://cdn.pixabay.com/photo/2016/01/08/01/53/gymer-1126999__480.jpg">
                        <img src="https://cdn.pixabay.com/photo/2016/01/08/01/53/gymer-1126999__480.jpg" alt="equip2">
                        </a>
                        <div class="desc">Dumbell Sets</div>
                    </td>
                    <td class="gallery">
                        <a target="_blank" href="https://virtuagym.b-cdn.net/wp-content/uploads/2019/12/treadmills-in-gym-running-equipment--1024x680.jpg">
                        <img src="https://virtuagym.b-cdn.net/wp-content/uploads/2019/12/treadmills-in-gym-running-equipment--1024x680.jpg" alt="equip3">
                        </a>
                        <div class="desc">Treadmill</div>
                    </td>
                </tr>
                <tr>
                    <td class="gallery">
                        <a target="_blank" href="https://cdn.shopify.com/s/files/1/2094/9815/products/10_Barbell_Rack_FBSR-ETE_1-WEB.jpg?v=1571708431">
                        <img src="https://cdn.shopify.com/s/files/1/2094/9815/products/10_Barbell_Rack_FBSR-ETE_1-WEB.jpg?v=1571708431" alt="equip4">
                        </a>
                        <div class="desc">Barbell</div>
                    </td>
                    <td class="gallery">
                        <a target="_blank" href="https://www.panattasport.com/banner/51b0d0b0e807_it_b.jpg">
                        <img src="https://www.panattasport.com/banner/51b0d0b0e807_it_b.jpg" alt="equip5">
                        </a>
                        <div class="desc">Squat Rack</div>
                    </td>
                    <td class="gallery">
                        <a target="_blank" href="https://sc04.alicdn.com/kf/Hd4a98916a1804ffaab02a2e2ceb3f53fb.jpg">
                        <img src="https://sc04.alicdn.com/kf/Hd4a98916a1804ffaab02a2e2ceb3f53fb.jpg" alt="equip6">
                        </a>
                        <div class="desc">Hammer Strength Machine</div>
                    </td>
                </tr>
                <tr>
                    <td class="gallery">
                        <a target="_blank" href="https://5.imimg.com/data5/SELLER/Default/2021/2/CR/KS/DQ/34019098/cable-cross-500x500.jpg">
                        <img src="https://5.imimg.com/data5/SELLER/Default/2021/2/CR/KS/DQ/34019098/cable-cross-500x500.jpg" alt="equip7">
                        </a>
                        <div class="desc">Cables and Pulleys</div>
                    </td>
                    <td class="gallery">
                        <a target="_blank" href="https://5.imimg.com/data5/WC/VT/ZZ/SELLER-18697518/assisted-pull-up-machine-500x500.jpg">
                        <img src="https://5.imimg.com/data5/WC/VT/ZZ/SELLER-18697518/assisted-pull-up-machine-500x500.jpg" alt="equip8">
                        </a>
                        <div class="desc">Pullup Machine</div>
                    </td>
                    <td class="gallery">
                        <a target="_blank" href="https://5.imimg.com/data5/KM/QH/MY-9374589/gym-ball-500x500.jpg">
                        <img src="https://5.imimg.com/data5/KM/QH/MY-9374589/gym-ball-500x500.jpg" alt="equip9">
                        </a>
                        <div class="desc">Gym Ball</div>
                    </td>
                </tr>
                <tr>
                    <td class="gallery">
                        <a target="_blank" href="https://5.imimg.com/data5/TP/VT/XT/SELLER-35652779/resistance-band-set-for-exercise-500x500.jpg">
                        <img src="https://5.imimg.com/data5/TP/VT/XT/SELLER-35652779/resistance-band-set-for-exercise-500x500.jpg" alt="equip10">
                        </a>
                        <div class="desc">Resistance Bands</div>
                    </td>
                    <td class="gallery">
                        <a target="_blank" href="https://www.power-systems.com/shop/images/product/large/48678_1_.jpg">
                        <img src="https://www.power-systems.com/shop/images/product/large/48678_1_.jpg" alt="equip11">
                        </a>
                        <div class="desc">Abdominal Bench</div>
                    </td>
                    <td class="gallery">
                        <a target="_blank" href="https://m.media-amazon.com/images/I/61G1ZvY5e3L._SL1190_.jpg">
                        <img src="https://m.media-amazon.com/images/I/61G1ZvY5e3L._SL1190_.jpg" alt="equip12">
                        </a>
                        <div class="desc">Leg Press Machine</div>
                    </td>
                </tr>
                <tr>
                    <td class="gallery">
                        <a target="_blank" href="https://4.imimg.com/data4/XK/GE/MY-764124/exercise-cycle-500x500.jpg">
                        <img src="https://4.imimg.com/data4/XK/GE/MY-764124/exercise-cycle-500x500.jpg" alt="equip13">
                        </a>
                        <div class="desc">Indoor Cycle Machine</div>
                    </td>
                    <td class="gallery">
                        <a target="_blank" href="https://5.imimg.com/data5/HO/GX/TF/SELLER-2964798/2-kg-vinyl-kettlebell-500x500.jpg">
                        <img src="https://5.imimg.com/data5/HO/GX/TF/SELLER-2964798/2-kg-vinyl-kettlebell-500x500.jpg" alt="equip14">
                        </a>
                        <div class="desc">Kettlebells</div>
                    </td>
                </tr>
            </table>
        </section>
        <br>
    </main>
    <br>
    <!-- <footer id="Contact">
        <div class="container">
            <div class="l_box">
                <p class="head">Quick Links</p><br>
                <table>
                    <tr>
                        <td>
                            <a href="Home.html#h_s_1">About Us</a>
                        </td>
                        <td>
                            <a href="https://www.healthline.com/health/fitness-exercise/best-blogs-of-the-year#1" target="_blank">Blogs</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://cdn5.vectorstock.com/i/1000x1000/60/29/error-404-sorry-page-not-found-image-vector-10856029.jpg" target="_blank">Our Team</a>
                        </td>
                        <td>
                            <a href="https://cdn5.vectorstock.com/i/1000x1000/60/29/error-404-sorry-page-not-found-image-vector-10856029.jpg" target="_blank">Programs</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://cdn5.vectorstock.com/i/1000x1000/60/29/error-404-sorry-page-not-found-image-vector-10856029.jpg" target="_blank">Careers</a>
                        </td>
                        <td>
                            <a href="Gallery.html#Gallery">Gym Inside</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="Gallery.html#Awards">Awards</a>
                        </td>
                        <td>
                            <a href="Gallery.html#Equipments">Equipments</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="Home.html#Testimonials">Testimonials</a>
                        </td>
                        <td>
                            <a href="https://cdn5.vectorstock.com/i/1000x1000/60/29/error-404-sorry-page-not-found-image-vector-10856029.jpg" target="_blank">Franchise</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://cdn5.vectorstock.com/i/1000x1000/60/29/error-404-sorry-page-not-found-image-vector-10856029.jpg" target="_blank">Culture</a>
                        </td>
                        <td>
                            <a href="https://cdn5.vectorstock.com/i/1000x1000/60/29/error-404-sorry-page-not-found-image-vector-10856029.jpg" target="_blank">Exercises</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://cdn5.vectorstock.com/i/1000x1000/60/29/error-404-sorry-page-not-found-image-vector-10856029.jpg" target="_blank">News</a>
                        </td>
                        <td>
                            <a href="https://cdn5.vectorstock.com/i/1000x1000/60/29/error-404-sorry-page-not-found-image-vector-10856029.jpg" target="_blank">Advertisements</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://cdn5.vectorstock.com/i/1000x1000/60/29/error-404-sorry-page-not-found-image-vector-10856029.jpg" target="_blank">Events</a>
                        </td>
                        <td>
                            <a href="https://www.researchgate.net/profile/Divya-Leducq/publication/290558299/figure/fig1/AS:539610842189824@1505664658527/Major-cities-with-an-SPTI-in-India.png" target="_blank">Gym Locations</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://cdn5.vectorstock.com/i/1000x1000/60/29/error-404-sorry-page-not-found-image-vector-10856029.jpg" target="_blank">Promotions</a>
                        </td>
                        <td>
                            <a href="https://cdn5.vectorstock.com/i/1000x1000/60/29/error-404-sorry-page-not-found-image-vector-10856029.jpg" target="_blank">Offers</a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="l_box">
                <p class="head">News Letter</p><br>
                <p align="center">Sign Up for our mailing list to get updates and offers:</p><br>
                <p align="center"><input type="email" placeholder="Enter Email"><button class="random_button" type="submit"><strong>></strong></button></p>
            </div>
            <div class="l_box">
                <p class="head">Contact</p><br>
                <p class="cont">
                    Owner: Vishal Kumar<br><br>
                    Employee Id: 6457<br><br>
                    Helpline No.: +91 8974563021<br><br>
                    Email Id: vk_buff_gym@vkgym.com<br><br>
                    Main Office Address:<br>
                        &emsp;&emsp;Same Location<br>
                        &emsp;&emsp;Same City<br>
                        &emsp;&emsp;Random State<br>
                        &emsp;&emsp;India - 101010
                </p>
            </div>
        </div>
    </footer> -->
</body>
