<!-- <h1>hello</h1>

<a routerLink="home">Home</a><br><br>
<a routerLink="gallery">Gallery</a><br><br>
<a routerLink="register">Register</a><br><br> -->

<nav>
    <div class="logo"><a routerLink=""><img src="assets\LOGO.png"></a></div>
    <ul>
    <li><a routerLink="">Home</a></li>
    <li><a routerLink="gallery">Gallery</a></li>
    <!-- <li><a href="#Contact">Contact</a></li> -->
    <li><a routerLink="branches">Branches</a></li>
    <li><a routerLink="register"><span id="join">Join Us</span></a></li>
    </ul>
</nav>

<router-outlet></router-outlet>
<app-footer></app-footer>