
<!-- <head>
    <title>Home</title>
    <link rel="stylesheet" href="GYM.css">
    <meta charset="UTF-8">
    <meta name="description" content="VK GYM">
    <meta name="keywords" content="HTML, CSS, VK, GYM, FITNESS, EXERCISE">
    <meta name="author" content="Vishal Kumar">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head> -->
<body id="home_b">
<!--     <nav>
        <div class="logo"><a href="Home.html"><img src="assets\LOGO.png"></a></div>
        <ul>
        <li><a href="Home.html">Home</a></li>
        <li><a href="Gallery.html">Gallery</a></li>
        <li><a href="#Contact">Contact</a></li>
        <li><a href="Registration.html"><span id="join">Join Us</span></a></li>
        </ul>
    </nav> -->
    <!--<div id="clock"></div>-->
    <header>
       <img src="assets\LOGO.png" class="img"><br>
       <p>WELCOME<br>TO<br>VK GYM</p>
    </header>
    <section id="h_s_1">
        <p class="head">
            The Best Gym you can find !
        </p>
        <p class="para">
            VK GYM is one of the best gym present throughout India. With a moto of 'REVOLUTIONISING FITNESS' our main goal is to guide others to achieve 
            their best performing body, a healthy lifestyle and body positivity. We provide all the necessary 
            equipments and guidance required for an individual with just a minimum subscription of Rs 5,000 per month!!!
        </p>
        <p class="para2">
            We offer much more than others
        </p>
        <table align="center">
            <tr>
                <td align="center" img align="top">
                    <img src="https://goldsgym.in/uploads/home_icons/gyms.png" alt="gyms">
                    <div class="desc">26 Gyms</div>
                </td>
                <td align="center" img align="top">
                    <img src="https://goldsgym.in/uploads/home_icons/cities.png" alt="cities">
                    <div class="desc">12 Cities</div>
                </td>
                <td align="center" img align="top">
                    <img src="https://goldsgym.in/uploads/home_icons/states.png" alt="states">
                    <div class="desc">11 States</div>
                </td>
                <td align="center" img align="top">
                    <img src="https://goldsgym.in/uploads/home_icons/Website_Personal.png" alt="personal">
                    <div class="desc">Personal<br>Training</div>
                </td>
                <td align="center" img align="top">
                    <img src="https://goldsgym.in/uploads/home_icons/Group_Exercise.png" alt="group">
                    <div class="desc">Group<br>Programs</div>
                </td>
            </tr>
        </table>
    </section>
    <section id="h_s_2">
        <div class="hs_2_d">
            <p class="hs_2_d1">
                <br>Download the VK GYM App Today.
            </p>
            <p class="hs_2_d2">
                Get access to workout videos by international fitness trainers.
            </p><br>
            <p allign="center">
                <a href="https://cdn5.vectorstock.com/i/1000x1000/60/29/error-404-sorry-page-not-found-image-vector-10856029.jpg" target="_blank">
                    <button class="hs_2_button">DOWNLOAD</button>
                </a>
            </p>
        </div>
    </section>
    <section id="Testimonials">
        <p class="review">Hear from our Gymers</p>
        <div class="clearfix">
            <div class="box">
                <div class="para1">
                    <figure>
                        <q class="quote">Thanks to the VK GYM team for the goodwill gesture and for creating a fun workout environment. 
                            Loving all the new equipment. Happy to have you open and enjoying the experience.</q>
                            <figcaption align="right">— Mihir Joshi</figcaption>
                    </figure>
                </div>
                <div class="image">
                    <img src="https://dns.winkl.co/Gallery/uploads/medium800_winkl_image2020-08-19%2007%3A37%3A53%20%2B000015978226738579.jpg" alt="Review1">
                </div>
            </div>
            <div class="box">
                <div class="para1">
                    <figure>
                        <q class="quote">Just love this gym. Awesome Trainers and Awesome Lifestyle!!!!</q>
                        <figcaption align="right">— Rohit Sharma</figcaption>
                    </figure>
                </div>
                <div class="image">
                  <img src="https://images.wisegeek.com/man-in-gray-sleeveless-shirt-lifting-weights.jpg" alt="Review2">
                </div>
            </div>
            <br>
            <div class="box">
                <div class="para1">
                    <figure>
                        <q class="quote">This gym has just what i need. I tend to work out in the morning. When it's not crowded. 
                            So i never had to wait for equipment. Additionally, i found the right trainer. 
                            Who helped me to reach my fitness goal for the month.</q>
                        <figcaption align="right">— Jayant Chawla</figcaption>
                    </figure>
                </div>
                <div class="image">
                    <img src="https://www.invigormedical.com/wp-content/themes/yootheme/cache/fitness-1517986_1920-e1576960776263-6ed3b60d.jpeg" alt="Review3">
                </div>
            </div>
            <div class="box">
                <div class="para1">
                    <figure>
                        <q class="quote">Since being here I have overcome personal obstacles while still staying determined to 
                            continue my work at the studio.  My favorite part of the workouts here is the Sweating!! 
                            … And the clients/trainers are pretty alright too 😉.  
                            You will find that the trainers are genuine and supportive!</q>
                        <figcaption align="right">— Meghna Singh</figcaption>
                    </figure>
                </div>
                <div class="image">
                  <img src="https://media.istockphoto.com/photos/selfie-before-training-picture-id533336152?k=20&m=533336152&s=612x612&w=0&h=Yeh6QtqFgOBU-q2_BUcBnIyzs5VvfFgVtroWkTjFL8I=" alt="Review4">
                </div>
            </div>
        </div>
    </section>
<!--     <footer id="Contact">
        <div class="container">
            <div class="l_box">
                <p class="head">Quick Links</p><br>
                <table>
                    <tr>
                        <td>
                            <a href="Home.html#h_s_1">About Us</a>
                        </td>
                        <td>
                            <a href="https://www.healthline.com/health/fitness-exercise/best-blogs-of-the-year#1" target="_blank">Blogs</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://cdn5.vectorstock.com/i/1000x1000/60/29/error-404-sorry-page-not-found-image-vector-10856029.jpg" target="_blank">Our Team</a>
                        </td>
                        <td>
                            <a href="https://cdn5.vectorstock.com/i/1000x1000/60/29/error-404-sorry-page-not-found-image-vector-10856029.jpg" target="_blank">Programs</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://cdn5.vectorstock.com/i/1000x1000/60/29/error-404-sorry-page-not-found-image-vector-10856029.jpg" target="_blank">Careers</a>
                        </td>
                        <td>
                            <a href="Gallery.html#Gallery">Gym Inside</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="Gallery.html#Awards">Awards</a>
                        </td>
                        <td>
                            <a href="Gallery.html#Equipments">Equipments</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="Home.html#Testimonials">Testimonials</a>
                        </td>
                        <td>
                            <a href="https://cdn5.vectorstock.com/i/1000x1000/60/29/error-404-sorry-page-not-found-image-vector-10856029.jpg" target="_blank">Franchise</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://cdn5.vectorstock.com/i/1000x1000/60/29/error-404-sorry-page-not-found-image-vector-10856029.jpg" target="_blank">Culture</a>
                        </td>
                        <td>
                            <a href="https://cdn5.vectorstock.com/i/1000x1000/60/29/error-404-sorry-page-not-found-image-vector-10856029.jpg" target="_blank">Exercises</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://cdn5.vectorstock.com/i/1000x1000/60/29/error-404-sorry-page-not-found-image-vector-10856029.jpg" target="_blank">News</a>
                        </td>
                        <td>
                            <a href="https://cdn5.vectorstock.com/i/1000x1000/60/29/error-404-sorry-page-not-found-image-vector-10856029.jpg" target="_blank">Advertisements</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://cdn5.vectorstock.com/i/1000x1000/60/29/error-404-sorry-page-not-found-image-vector-10856029.jpg" target="_blank">Events</a>
                        </td>
                        <td>
                            <a href="https://www.researchgate.net/profile/Divya-Leducq/publication/290558299/figure/fig1/AS:539610842189824@1505664658527/Major-cities-with-an-SPTI-in-India.png" target="_blank">Gym Locations</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://cdn5.vectorstock.com/i/1000x1000/60/29/error-404-sorry-page-not-found-image-vector-10856029.jpg" target="_blank">Promotions</a>
                        </td>
                        <td>
                            <a href="https://cdn5.vectorstock.com/i/1000x1000/60/29/error-404-sorry-page-not-found-image-vector-10856029.jpg" target="_blank">Offers</a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="l_box">
                <p class="head">News Letter</p><br>
                <p align="center">Sign Up for our mailing list to get updates and offers:</p><br>
                <p align="center"><input type="email" placeholder="Enter Email"><button class="random_button" type="submit"><strong>></strong></button></p>
            </div>
            <div class="l_box">
                <p class="head">Contact</p><br>
                <p class="cont">
                    Owner: Vishal Kumar<br><br>
                    Employee Id: 6457<br><br>
                    Helpline No.: +91 8974563021<br><br>
                    Working Hrs: 9 am - 9 pm Mon - Sat<br><br>
                    Email Id: vk_buff_gym@vkgym.com<br><br>
                    Main Office Address:<br>
                        &emsp;&emsp;Same Location<br>
                        &emsp;&emsp;Same City<br>
                        &emsp;&emsp;Random State<br>
                        &emsp;&emsp;India - 101010
                </p>
            </div>
        </div>
    </footer> -->
    <!--<script src="GYM.js"></script>-->
</body>
